# Decoding Politics Week 1 Demo

## Data Types and Variables

There are 5 different data types in Python. These are _string_, _boolean_, _int_, _float_, and _none_. Different examples for each of these are listed below.

In [21]:
from datascience import * # this is the library developed and used by Data 8 
import numpy as np
import random

### String

In [22]:
person_1 = 'i love politics'
type(person_1)

str

In [23]:
print(person_1)

i love politics

In [28]:
print("Hello world!")

Hello world!

In [31]:
print("Hello \N{EARTH GLOBE ASIA-AUSTRALIA}!")

Hello üåè!

### Boolean

In [19]:
teddy_won_in_1912 = False
teddy_won_in_1912

False

In [26]:
declaration_of_independence = True
declaration_of_independence

True

### Int

In [27]:
i = 10 
i

10

In [32]:
type(i)

int

In [33]:
i = i * i 
i

100

### Float

In [35]:
x = 538.0
x

538.0

In [36]:
type(x)

float

In [38]:
print('$',x)

$ 538.0

### NoneType

In [41]:
BrexitPlan = None
print(BrexitPlan)

None

## Arithmetic Operators

### Addition

In [42]:
1 + 1

2

### Multiplication

In [43]:
2 * 3

6

### Subtraction

In [44]:
4- 3

1

### Division

In [45]:
5/2

2.5

### Floor Division

In [47]:
5 // 2

2

### Mod

In [48]:
5 % 2

1

## Loops

### While Loop

In [51]:
n = 0
while n < 10:
    print("Number", n)
    n = n + 1
    
print ("The end!")

Number 0
Number 1
Number 2
Number 3
Number 4
Number 5
Number 6
Number 7
Number 8
Number 9
The end!

### For Loop

In [52]:
for i in range(10):
    print("Number", i)
print("The end!")

Number 0
Number 1
Number 2
Number 3
Number 4
Number 5
Number 6
Number 7
Number 8
Number 9
The end!

## If-else statements

In [53]:
government_shutdown = 1

if government_shutdown <7:
    print("The government has been shutdown for less than a week.")
elif government_shutdown == 7:
    print("The government has been shutdown for a week.")
else:
    print("The government has been shutdown for more than a week.")

The government has been shutdown for less than a week.

## Arrays

### Creating an array

In [4]:
p = make_array(1,2,3,4)
p

array([1, 2, 3, 4])

### Indexing

In [20]:
p[1]

2

In [54]:
presidents_21st_century = make_array("George W. Bush", "Barack Obama" , "Donald Trump")
presidents_21st_century

array(['George W. Bush', 'Barack Obama', 'Donald Trump'], dtype='<U14')

In [55]:
an_array = make_array(1, "hi", True)
an_array

array(['1', 'hi', 'True'], dtype='<U21')

### Functions

In [58]:
def to_a_percent(proportion):
    """Converts a proportion to a percentage"""
    total = 325000000
    return proportion/total
california_population = 39540000
to_a_percent(california_population)

0.12166153846153846

In [18]:
pow(2,10)

1024

### Important Built-In Functions

### abs

In [59]:
abs(-100)

100

### pow

In [60]:
pow(2,4)

16

### round

In [61]:
round(3.14159265358979)

3

### min

In [62]:
min(2000, 4000, 5, 6000)

5

### max

In [64]:
max(8, 16, 90, 32, 64)

90